@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

:root {
  --background: #dedcd7;
  --foreground: #050505;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-libre-caslon-text: var(--font-libre-caslon-text);
  --font-funnel-sans: var(--font-funnel-sans);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #dedcd7;
    --foreground: #050505;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-funnel-sans), Arial, Helvetica, sans-serif;
}

/* animation carousel */
.carousel-container {
  width: 100%;
  height: 380px;
  overflow: hidden;
  position: relative;
}

.carousel-track {
  display: flex;
  gap: 18px;
  flex-direction: row;
  animation: scroll-horizontal 25s linear infinite;
}

.carousel-track:hover {
  animation-play-state: paused;
}

.carousel-item {
  width: 380px;
  height: 380px;
  flex-shrink: 0;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* Overlay gradient pour effet de fondu */
.carousel-container::before,
.carousel-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 80px;
  pointer-events: none;
  z-index: 10;
}

.carousel-container::before {
  left: 0;
  background: linear-gradient(to right, #dedcd7, transparent);
}

.carousel-container::after {
  right: 0;
  background: linear-gradient(to left, #dedcd7, transparent);
}
